[pubmed]
ftp_host = ftp.ncbi.nlm.nih.gov
ftp_user = anonymous
ftp_password = hb@dnaiq.com
base_folder = /pubmed/baseline/
updates_folder = /pubmed/updatefiles/

[data]
control_db = /Volumes/JS-EVO970-plus/pubmed/pubmed.ftp.sqlite
downloads = /Volumes/JS-EVO970-plus/pubmed/downloads/
xml = /Volumes/JS-EVO970-plus/pubmed/xml/
